        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Raleway', sans-serif;
        }

        html {
            scroll-behavior: smooth;
        }

        body {
            font-weight: 300;
            font-size: 30px;
            color: rgb(94, 103, 110);
            background: linear-gradient(135deg, white 25%, rgb(126, 126, 126) 100%);
        }

        .logo {
            position: absolute;
            opacity: .07;
            width: 60%;
            transform: translate(50px, 100px);
        }

        .space-holder {
            height: 290px;
            width: 100%;
        }

        header div {
            margin: 50px 0 50px 0;
            font-size: clamp(60px, 10vw, 85px);
            line-height: clamp(10px, 10vw, 100px);
            text-align: center;
            font-weight: 400;
        }

        .head {
            margin: 10px 10px -15px 0;
            display: block;
            text-align: right;
        }

        /* NAV */

        .topnav {
            overflow: hidden;
            z-index: 1;
            box-shadow: 0px 0px 20px rgb(219, 219, 219);
            display: flex;
            justify-content: space-around;
            position: top;
            width: 100%;
            background: white;
        }

        .topnav a {
            float: left;
            display: block;
            color: #f2f2f2;
            padding: 10px 0;
            text-decoration: none;
        }

        .topnav .hamburger {
            display: none;
        }

        .topnav a:link,
        .topnav a:visited {
            color: rgb(94, 103, 110);
            text-decoration: none;
        }

        .topnav a.c {
            text-align: center;
        }

        .topnav a:hover {
            color: black;
            transition: all 0.3s;
        }

        /* ----- FINE NAV --------------------------------- */
        /* ----- GENERAL STYLE --------------------------------- */

        .section {
            display: flex;
            text-align: center;
            flex-direction: column;
            gap: 10px;
            background: #ffffffbe;
            border-radius: 3px;
            margin: 30px 0px;
            padding: 10px 0;
        }

        .title {
            text-align: center;
            font-size: clamp(60px, 10vw, 70px);
            font-weight: 400;
        }

        .desc {
            background: #ffffffbe;
            border-radius: 5px;
        }

        .sep {
            margin: 20px;
            height: 2px;
            width: 100%;
            background: rgb(94, 103, 110);
            filter: drop-shadow(0px 0px 10px rgb(126, 126, 126));
        }

        .link {
            text-decoration: none;
            padding: 3px;
            border-radius: 3px;
            font-weight: 400;
            text-shadow: 0 0 1px rgb(126, 126, 126);
        }

        .link:hover {
            color: black;
            transition: all 0.2s;
        }

        /* ----- END GENERAL STYLE --------------------------------- */
        /* ----- FIRST SECTION --------------------------------- */

        .name {
            font-weight: 400;
        }

        #photo-profile {
            max-width: 450px;
            filter: drop-shadow(10px 10px 10px rgba(126, 126, 126, 1));
        }

        .p-changer {
            width: 100%;
            text-align: right;
            padding: 20px;
        }

        /* ----- END FIRST SECTION --------------------------------- */
        /* ----- THIRD SECTION --------------------------------- */

        .photo-index {
            display: flex;
            justify-content: center;
            gap: 10px;
            background: #ffffffbe;
            border-radius: 3px;
            padding: 10px;
        }

        .two-photo {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 10px;
        }

        .img-preview {
            display: block;
            max-width: 200px;
        }

        .img-preview:hover {
            transform: scale(1.2);
            transition: all 0.5s ease;
        }

        .img-preview>img {
            max-width: 100%;
            max-height: 100%;
        }

        /* ----- END THIRD SECTION --------------------------------- */
        /* FORM ____________________________________________________*/

        .form {
            background: #ffffffbe;
            padding: 10px;
            border-radius: 3px;
            width: 100%;
        }

        .form-element {
            display: flex;
            justify-content: space-around;
            gap: 5px;
            align-items: center;
            flex-direction: column;
            background: #7379C710;
            border-radius: 3px;
            margin: 20px;
            padding: 10px;
        }

        .input {
            width: 100%;
            border-radius: 3px;
            float: center;
            height: 40px;
            padding-left: 10px;
            border: 0;
            box-shadow: 0 0 5px rgb(94, 103, 110);
            color: rgb(94, 103, 110);
        }

        label {
            font-weight: 400;
            width: 100%;
            border-radius: 3px;
            padding-right: 20px;
        }

        .input:hover {
            box-shadow: 0 0 1px rgb(94, 103, 110);
            transform: scale(0.99);
        }

        .sender {
            outline: 1px solid rgba(94, 103, 110, 0.5);
            height: 70px;
            background: #80c75f;
            font-weight: 400;
            color: white;
        }

        .sender:hover {
            background: #90d060;
            transform: scaleX(0.9);
        }

        .contact {
            margin-bottom: 60px;
        }

        .contact>p {
            text-align: center;
        }

        .contact>p>a {
            text-decoration: none;
            font-weight: 400;
            color: rgb(94, 103, 110);
            text-shadow: 0 0 0.5px rgb(126, 126, 126)
        }

        /* END FORM ____________________________________________________*/
        /* SOCIAL AND FOOTER ------------------------------------------*/

        footer {
            position: absolute;
            width: 100%;
            color: rgb(126, 126, 126);
            text-align: center;
            font-size: 20px;
            line-height: 40px;
        }

        .photo-index>a:hover {
            filter: drop-shadow(0 0 2px rgba(126, 126, 126, 1));
            transform: scale(0.90);
        }

        /*----------------- SOCIAL AND FOOTER -------------------------*/
        /*-------------------- ABOUT ME PAGE STYLE ---------------------------------------  */

        .edu {
            list-style: none;
            font-size: 0.8em;
            line-height: 1.5em;
        }

        .edu li {
            text-align: left;
            border-bottom: 1px solid #eee;
        }

        .edu li i {
            font-size: 0.75em;
        }

        .edu li i a {
            text-decoration: none;
            color: black;
        }

        /*--------------------------- END ABOUT ME PAGE STYLE --------------------------------  */
        /*------------------------- CONTACT PAGE -------------------------------------*/
        /**/
        /*
        *
        *
        *
        *
        */

        @media only screen and (min-width:982px) {
            .topnav a {
                transform: scale(0.94)
            }

            .section {
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
            }

            .section:nth-child(even) {
                flex-direction: row-reverse;
            }

            .title {
                width: 50%;
                text-align: center;
            }

            .desc {
                max-width: 49%;
            }

            .sep {
                height: 100px;
                width: 1%;
                background-color: rgb(94, 103, 110);
            }

            .form {
                text-align: left;
                background-color: #ffffff31;
                padding: 10px;
                width: 100%;
                border-radius: 3px;
            }

            .form-element {
                flex-direction: row;
            }

            .form-element label {
                text-align: right;
            }

            .photo-index>div>div {
                display: inline-block;
                max-width: 200px;
            }

            .space-holder {
                height: 120px;
            }
        }

        @media screen and (max-width: 981px) {
            .topnav {
                display: flex;
            }

            .topnav a:not(:first-child) {
                display: none;
            }

            .topnav a.hamburger {
                float: right;
                display: block;
                position: absolute;
                right: 100px;
            }

            .topnav a {
                align-self: center;
                margin: 10px 0;
                line-height: 20px;
                background: none;
            }

            .topnav a:hover {
                background: none;
            }

            .first-section {
                flex-direction: column-reverse;
            }

            .p-changer {
                text-align: center;
            }

            .input {
                height: 100px;
                font-size: 40px;
            }

            .topnav.responsive {
                flex-direction: column;
            }


            .topnav.responsive a {
                float: none;
                display: block;
                text-align: left;
            }
        }

        @media screen and (max-width: 650px) {
            .topnav.responsive .hamburger {
                position: absolute;
                right: 50px;
            }
        }

        @media screen and (max-width: 746px) {
            .space-holder {
                height: 310px;
            }
        }